.footerDiv {
    padding-top: 60px;
}

.footerBrand {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

.footerLogoDiv .logoFooter {
    height: 50px;
    margin: 0 20px 0 20px;
}

.footerHeadline {
    color: white;
    font-size: 30px;
    margin-top: 5px;
}

.footerBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -15px;
}

.footerLeft {
    display: flex;
    flex-direction: row;
}

.footerParagraph {
    color: white;
}

.listOfPages {
    color: white;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
}

.footerLink {
    color: white;
    margin-bottom: -12px;
}

.footerLeiste {
    width: 100%;
    height: 20px;
    background: rgb(21, 44, 9);
    color: white;
    margin-top: 15px;
}

.footerLeisteText {
    text-align: center;
    font-size: 12px;
    padding: 3px;
}