.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navLogoDiv .logoNav {
    height: 50px;
    margin: 0 90px 0 20px;
}

.navbar {
    border-bottom: 2px solid #244B11;
    margin-bottom: 20px;
}

.navbar-justify {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-account {
    margin-right: 20px;
}

.accountImg {
    width: 25px;
    height: 25px;
    margin-top: 8px;
}

.deviderLine {
    color: white;
    margin-top: 8px;
}

.navBottom {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: flex-end;
}

.textDivNav {
    margin-right: 100px;
}

.textDivNavHeadline {
    color: white;
    font-weight: 600;
}

.textDivNavSubHead {
    color: white;
    font-weight: 400;
    font-size: 18px;
    margin-top: -5px;
}
