.productDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.productMainInfoDiv {
    max-width: 250px;
    margin-top: 10px;
}

.productName {
    color: #41475E;
    font-size: 20px;
}

.productImgInfoDIv {
    display: flex;
    flex-direction: row;
}

.productImgCard {
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

.productRightToImgDiv {
    margin-left: 20px;
}

.infoP {
    color: #41475E;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.productDescription {
    font-size: 12px;
    color: #41475E;
    margin-top: 20px;
    font-weight: 400;
    margin-bottom: 0;
    max-width: 550px;
}

.deviderProductInfo {
    width: 2px;
    height: 240px;
    background: #41475E;
    border-radius: 5px;
    margin: 10px 30px 0 30px;
}

.productGhgMainDiv {
    margin-top: 10px;
    width: 100%;
}

.productGhgDataTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.productGHGDAtaHeadlineTop {
    color: #41475E;
    font-size: 20px;
}

.arrowProductDiv {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin-top: -5px;
    margin-left: 20px;
}

.arrowProductEmissionImg {
    margin-top: -25px;
    margin-right: 5px;
}

.imgProductInfoMiddleBottom {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.ProductEditDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -5px;
}