.alternativeProduct {
    width: 420px;
    height: 80px;
    border: 2px solid #41475E;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    &:hover {
        border: 3px solid #41475E;
        cursor: pointer;
    }
}

.alternativeProductsHeadlineDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.alternativeProductName {
    font-size: 16px;
    color: #41475E;
    font-weight: 600;
}

.alternativeProductGP {
    font-size: 16px;
    color: #244B11;
}

.alternativeProductP {
    font-size: 14px;
    color: #41475E;
}
