#selectCategorySelctor .css-yk16xz-control {
    position: relative!important;
    z-index: 11;
}

.addProductCategoryHeadline {
    font-size: 16px;
    color: #41475E;
}

.addProductCategoryAddDiv {
    margin-top: 20px;
}

.labelNewProduct {
    margin-top: 10px;
}