.ghgDetailContainer {
    display: flex; 
    flex-direction: row;
    align-content: space-between;
}

.ghgDetailPDiv {
    display: flex; 
    flex-direction: row;
    width: 500px;
}

.ghgDetailParagraph {
    color: #41475E;
    font-size: 16px;
    margin-right: 20px;
}

.ghgDetailParagraphBrackets {
    color: #41475E;
    font-size: 16px;
}