.ProductGHGDataTitle {
    color: #41475E;
    font-size: 20px;
}

.EmissionMainStatementDiv {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.EmissionDataTitle {
    color: #41475E;
    font-size: 16px;
    width: 200px;
}

.EmissionDataText {
    color: #636981;
    font-size: 18px;
    margin-top: 2px;
    width: 500px;
}