.productAltHeadlineDiv {
    width: 100%;
    margin-bottom: 40px;
}

.productAltHeadline {
    font-size: 20px;
    color: #41475E;
    margin-bottom: 20px;
    margin-right: 20px;
}

.productAltHeadlineDivFlex {
    display: flex;
    flex-direction: row;
}

.alternativeDivFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}