.productMainInfoContainer {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.productColumn1 {
    width: 100%;
    margin-right: 35px;
}

.productNameMainInfo {
    font-size: 20px;
    font-weight: 600;
    color: #41475E;
}

.productInfoTagsMainInfo {
    font-size: 16px;
    color: #41475E;
    margin-top: 24px;
}

.editInfoProductMainInfoDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.productColumn2 {
    width: 100%;
    min-width: 325px;
}

.productColumn3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
    margin-left: 50px;
    width: 100%;
}

.productCodeMainInfo {
    font-size: 16px;
}

.productDescriptionMainInfo {
    font-size: 12px;
}

.productColumn4 {
    width: 100%;
}

.productImgInfoDIv {
    margin-top: 20px;
    margin-bottom: 40px;
}

.imgProductMainInfo {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.errorMessageProductPage {
    text-emphasis: center;
    font-size: 24px;
    color: #41475E;
}

.divEditAndAddedByProductCard {
    display: flex;
    flex-direction: column;
}

.ProductEditDiv {
    height: 50px;
}

.addedByProductcard {
    font-size: 12px;
    line-height: 12px;
    color: #244B11;
    margin-top: 5px;
}