.containerSourceDot {
   display: flex;
   flex-direction: row;
   margin-top: 50px;
}

.dateSourceDot {
    margin: 0 20px 0 20px;
    width: 200px;
}

.dotSourceDots {
    margin: 0 20px 0 20px;
    height: 30px;
    width: 30px;
    border: 3px solid green;
    border-radius: 100px;
    background: rgb(139, 172, 139);
}

.dotsTextDiv {
    width: 770px;
}

.dotsDataDiv {
    display: flex;
    flex-direction: column;
}

.dotsDataUpperDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userSourceDot {
    margin-left: 5px;
}