.headlineSourceDetails {
    font-size: 20px;
    color: #41475E;
}

.descSourceDetails {
    font-size: 16px;
    margin-right: 50px;
}

.descSourceStatus {
    color: #41475E;
    font-weight: 600;
}

.divSourceDetails {
    display: flex;
    flex-direction: row;
}