.sectionNavigation {
    height: 250px;
    background: url("../../assests/navbar_bg.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative!important;
    z-index: 0;
}

.sectionFooter {
    height: 100%;
    background: url("../../assests/footer_bg.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative!important;
    z-index: 0;
}

.Content {
    position: relative!important;
    z-index: 5;
}

.mainContent {
    display: flex;
    flex-direction: row;
    margin: -50px 0 -20px 0;
}

.mainbars {
    width: 100%;
}