.cardApprovalContainer {
    width: 1100px;
}

.cardApprovalTitle {
    font-size: 20px;
    color: #41475E;
}

.cardApprovalUpperDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardApprovalRightDiv {
    width: 700px;
}

.cardApprovalButtonDiv {
    width: 500px;
}

.cardApprovalButtonFlexDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headlineApproveSourcesFetch {
    font-size: 24px;
    color: #41475E;
}