

.topBarHeadline {
    font-size: 20px;
    color: #41475E;
}

.topBarSubheadline {
    font-size: 14px;
}

.topBarButtonDiv {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottomBarFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upperBarDivButtons {
    width: 500px;
}

.divUpperBarButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}