.newProductPageTitle {
    color: #41475E;
    font-size: 24px;
    width: 100%;
}

.newProductTopDiv {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 100%;
}

.newProductMainInfosDiv {
    width: 100%;
}

.newProductInputDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

#inputProductInfo {
    width: 200px;
}

#isRawMaterial {
    margin-left: 10px;
}

.newProductDescriptionDiv {
    width: 100%;
    margin: 0 10px 0 10px;
}

#inputProductInfoDescritption {
    height: 125px;
}

.newProductAddImageDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.newProductNewImg {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    margin-left: 80px;
    &:hover {
        cursor: pointer;
    }
}

.sourceDivNewProduct {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
}

.sourceDivInputDiv {
    width: 100%;
}

.newProductInputDivSource {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#inputProductInfoSourceLink {
    width: 700px;
    margin-bottom: 20px;
}

#inputProductInfoSource {
    width: 700px;
    height: 80px;
}

.buttonDivNewData {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 110px;
}