.MainBarContainer {
    background: #FFFFFF;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 97%;
    margin-left: 20px;
    min-height: 50px;
    position: relative;
    z-index: 5; 
    padding: 10px;
    color: #636981;
    overflow: auto;
}
