.sideBarTemplate {
    width: 240px;
    height: 115vh;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: relative;
    z-index: 100;
    background: white;
    padding: 10px;
    margin-left: 20px;
}

.sideBarDivPart {
    margin-bottom: 40px;
}

.sideBarHeadline {
    font-size: 20px;
    color: #41475E;
}

.sideBarSubText {
    font-size: 14px;
    color: #636981;
}
