@import './styles/main.module.scss';

input, select { font-size: 100%; }

html,body {
    display: flex;
    flex-flow:column nowrap;
    height:100vh; /* fix IE11 */
    min-height:100%; /* fix IE11 */  
}