.simpleEditContainer {
    display: flex;
    flex-direction: row;
    &:hover {
        cursor: pointer;
    }
}

.simpleEditImg {
    width: 15px;
    height: 15px;
}

.simpleEditParagraph {
    color: #244B11;
    font-size: 12px;
    margin-left: 10px;
}