.essContainer {
    display: flex;
    flex-direction: row;
}

.essSourceDiv {
    display: flex;
    flex-direction: row;
}

.essImgSource {
    width: 15px;
    height: 15px;
    margin-left: 20px;
    &:hover {
        cursor: pointer;
    }
}

.simpleEditParagraph {
    color: #244B11;
    font-size: 12px;
    &:hover {
        cursor: pointer;
    }
}

.statusPointNew {
    width: 10px;
    height: 10px;
    border-radius: 20px;
    margin: 3px 10px 0 15px;
}

.sourceStatusApproved {
    color: #636981;
    font-size: 12px;
}